.start {
  background-color: #4f285e;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.yojana {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #be5587;
}
.yojana-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.yojana-header h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  flex: 1;
  text-align: center;
}
.yojana-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.qr-code-button {
  border-style: double;
  border-color: #4f285e;
}
.yojana-header .back-button {
  font-size: 1.5rem;
  color: #4f285e;
  background: none;
  border: none;
  cursor: pointer;
}
.torch-button {
  font-size: 1.5rem;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
}
.yojana-footer {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.phone-button {
  background-color: #4f285e;
  color: #f0f0f0;
}
.separator {
  margin: 10px 0;
  font-size: 1rem;
  color: black;
  text-align: center;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #5a2d6d;
}
.message {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}
.people-image-container {
  text-align: center;
}
.loading-bar-container {
  width: 80%;
  max-width: 600px;
  height: 15px;
  background-color: lightgray;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
}
.loading-bar {
  height: 100%;
  background-color: #be5587;
  transition: width 0.03s linear;
}
.people-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.language-selection-page {
  background-color: #4f285e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}
.language-header h1 {
  text-align: center;
  color: white;
}
.language-body {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f1ef;
  color: gray;
}

.language-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.language-options label {
  display: block;
  margin-bottom: 12px; /* Space between radio options */
}

.back-button {
  background-color: #ffffff;
  color: #4f285e;
  width: 56px;
  height: 40px;
  border-radius: 64px;
  border: none;
  padding: 8px 16px 8px 16px 8px;
}

.submit {
  background-color: #4f285e;
  color: #f0f0f0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.login-way-page {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}
.login-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.login-options label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  cursor: pointer;
}
.login-header h1 {
  text-align: center;
  color: white;
}
.login-body {
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f1ef;
  color: gray;
}

.choose-location {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.choose-locat-header h1 {
  text-align: center;
  color: white;
}

.choose-locat-body {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.choose-locat-body button {
  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}
p {
  font-size: 14px;
  color: gray;
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 500px;
}
.location-form {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}
.location-from-header h1 {
  text-align: center;
  color: white;
}

.location-form-body {
  /* width: 100%;
  max-width: 500px;
  margin-top: 30px;
  background-color: #f3f1ef;
  height: 25vh; */
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f1ef;
  color: gray;
}
.location-form-body label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 10px;
}
.location-form-body select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}
.mobile-page {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}
.mobile-page-header {
  text-align: center;
  color: white;
}
.mobile-header-body {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}
.require-otp-page {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}
.require-header {
  text-align: center;
  color: white;
}
.require-body {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}
.otp-page {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}
.otp-header {
  text-align: center;
  color: white;
}
.otp-body {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}
.welcome-page-display {
  background-color: #4f285e;
}
.personal-details {
  display: flex;
  background-color: #4f285e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  padding: 20px;
  font-family: Arial, sans-serif;
}
.personal-details-header {
  text-align: center;
  color: white;
}
.personal-details-body {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #fff;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
  display: block;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-group label {
  margin-right: 15px;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.dob-age-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.or {
  font-size: 0.9rem;
  color: #666;
}

.dob-age-group input[type="date"],
.dob-age-group input[type="number"] {
  width: 45%;
}
.welcome-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f285e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}
